.button {
    -fx-background-color: linear-gradient(#0e36ff, #0e7dff),
                            radial-gradient(center 50% -40%, radius 200%, #0e7dff 45%, #0e36ff 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.92), 5, 0.0, 0, 1);

}

.button:hover
{
    -fx-background-color:
            linear-gradient(#0e36ff, #0e7dff),
            radial-gradient(center 50% -40%, radius 200%, #0e7dff 45%, #0e36ff 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 5, 0.0, 0, 1);
    -fx-text-fill: #ffffff;

}